@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: "Lato", sans-serif;
  color: #213547;
  position: relative;
  .btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-title {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }
  }
}

.container {
  padding: 0 40px;
  margin: 0 auto;
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    margin: 16px 0 0 0;
  }
  .poke-container {
    h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 24px;
    }
    #pokedex {
      padding-inline-start: 0;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      grid-gap: 20px;
      .card {
        list-style: none;
        padding: 15%;
        background-color: #ffffff;
        color: #000000;
        display: grid;
        border-radius: 10%;
        .card-image {
          height: 120px;
          margin: 0 auto;
        }
        .card-title {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: normal;
          margin-bottom: 0;
          text-align: center;
        }
        .card-subtitle {
          font-weight: lighter;
          color: #000000;
          margin-top: 5px;
          text-align: center;
        }
      }
    }
  }
}

.card-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  .monster {
    width: 30%;
    .card-image-detail {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
    .card-title {
      span {
        margin-right: 16px;
      }
    }
  }
  .card-stats {
    width: 30%;
    h3 {
      margin: 16%;
      text-align: center;
    }
    p {
      text-align: left;
    }
    .stats-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      p {
        height: 100%;
      }
    }
  }
  .content-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn-content {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  transition: 2s;
  background: linear-gradient(45deg, #3baee39e, #9844b794, #44ea7694);
  background-size: 200% 200%; /*サイズを大きくひきのばす*/
  animation: bggradient 15s ease infinite;
  a {
    font-size: 32px;
    color: #fff;
    display: block;
    text-decoration: none;
    position: relative;
    transition: 2s;
  }
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul {
  display: flex;
  justify-content: center;
  font-size: 16px;
  gap: 12px;
}

li {
  list-style-type: none;
  cursor: pointer;
  border-radius: 50%;
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  color: black;
  font-weight: bold;
}

.selected {
  background: linear-gradient(red 46%, black 46%, black 54%, white 54%);
}
