@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: "Lato", sans-serif;
  color: #213547;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #ffffff;
  color: #000000;
  display: grid;
  border-radius: 10%;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
}

.card-subtitle {
  font-weight: lighter;
  color: #000000;
  margin-top: 5px;
  text-align: center;
}

.card-image {
  height: 180px;
  margin: 0 auto;
}
#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}

.card-content {
  width: 40%;
  margin: 0 auto;
  .card-image-detail {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  .card-stats {
    margin: 0 auto;
    h2 {
      text-align: center;
    }
    p {
      text-align: left;
    }
    .stats-content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: bold;
      span {
        margin: 0 auto;
      }
    }
  }
  .content-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.btn-content {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #213547;
  width: 10%;
  padding: 8px 16px;
  border-radius: 50px;
  a {
    color: #213547;
    text-decoration: none;
  }
}
