@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
  font-family: "Lato", sans-serif;
  color: #213547;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #ffffff;
  color: #000000;
  display: grid;
  border-radius: 10%;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
}

.card-subtitle {
  font-weight: lighter;
  color: #000000;
  margin-top: 5px;
  text-align: center;
}

.card-image {
  height: 180px;
  margin: 0 auto;
}
#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.container {
  padding: 40px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}

.card-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  .monster {
    width: 30%;
    .card-image-detail {
      width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .card-stats {
    width: 30%;
    h3 {
      text-align: center;
    }
    p {
      text-align: left;
    }
    .stats-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
    }
  }
  .content-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn-content {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  transition: 2s;
  background: linear-gradient(45deg, #3baee39e, #9844b794, #44ea7694);
  background-size: 200% 200%; /*サイズを大きくひきのばす*/
  animation: bggradient 15s ease infinite;
  animation: bggradient 15s ease infinite;
  a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: 2s;
    a::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 10px;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      transform: skew(45deg);
    }
  }
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
